<div class="container">
<div class="card-header">
<h4><%= @album.title %> <div class="pull-right">
<%= link_to "Back", root_path, class: "btn btn-secondary mx-2" %> 
</div> </h4>
</div>
<p><strong>Description:</strong> <%= @album.description %></p>
<div class="row">
  <% @album.images.each do |image| %>
    <div class="col-md-3 col-sm-12">
      <div class="card mt-2">
      <%= link_to image do %>
        <div class="card-body">
        <div style="width:400px; height:200px" class="card-top-img img-fluid">
        <%= image_tag(image,style: "width:100%; height:100%" ) %>
        </div>
        </div>
        <% end %>
        <div class="text-center text-truncate">
  <p><%=@album.all_tags%> </p>
  </div>
       
      </div>
    </div>
  <% end %>
</div>
</div>
