<div class="container">
<div class="card-header">
<h4><strong><%= @album.title %> <div class="pull-right">
<%= link_to "Edit", edit_album_path(@album), class:"btn btn-warning mx-2" %> 
<%= link_to 'Back', albums_path, class: "btn btn-secondary mx-2" %> 
</div></h4>
</div>
<div>
  <p class="text-muted"><%= @album.all_tags%> </p>
  </div>
  <div class="row">
  <% @album.images.each do |image| %>
    <div class="col-md-3 col-sm-12">
      <div class="card mt-3">
      <%= link_to image do %>
        <div class="card-body">
        <div style="width:400px; height:200px" class="card-top-img img-fluid">
        <%= image_tag(image,style: "width:100%; height:100%" ) %>
        </div>
        </div>
          <%end %>
        <div class="card-footer">
        <%= link_to "Delete", delete_image_albums_path(id: image.id),
                    method: :delete, data: { confirm: "Are you sure?" }, class: "nav-link" , class: "btn btn-danger"%>
      </div>
      </div>
    </div>
  <% end %>
</div>
</div>